@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,500;0,600;0,700;1,100;1,200;1,400;1,500&family=Playfair+Display:ital,wght@0,400;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,500;0,600;0,700;1,100;1,200;1,400;1,500&family=Playfair+Display:ital,wght@0,400;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Noto+Sans+KR:wght@500&display=swap');



/* clone coding  */


header{color: #202020;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;}

/*     .hl > ul > div> a:hover{
        color:#235b94 ;
    } */

*:visited {color: black; }
*{color: #202020;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif}


h2{font-size: 50px;
    font-family: "NotoSerifKR-Regular",Serif;
    color: #202020;
    font-weight: 400;}

p{  font-family: 'EB Garamond', serif;
    color: #949496;
    font-size: 16px;
    letter-spacing: 10px;}





/* 반응형 헤더 background-color: #2f335b; */









/* common.css */

html,body{ margin:0; }
*{
    box-sizing: border-box;
;
}



ul,li{
    list-style-type: none;
    margin:0; padding:0;
}
h1,h2,h3,h4,h5,h6,p,figure,a, figcaption{ margin:0; }
img{vertical-align: top;}
a{text-decoration: none;}












header{
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 10px 100px;
    padding-top: 30px;
    position: sticky;
    top: -67px;
    z-index: 9999999;
    background-color: white;
}


.logo-n>a {margin-top:10px;
}


.logo-n > a::before{
    content: '';
    width: 168px;
    height: 45px;
    background-image:url(./img/main/netmarble2.png);
    background-position-y: -45px;
    background-repeat: no-repeat;
    display: block;
}



.h{
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.hl{
    display: flex;
    justify-content:space-between;}

.hl > ul {
    display: flex;
    justify-content: space-evenly;
    padding-left: 30px;}

.hl > ul > div{
    height: 30px;
    width: 170px;
}

.hl > ul > div> a:hover{
    color:#235b94 ;
}

.hl > ul > div> a{ 
    padding: 5px;
    font-size:20px;
    font-weight: 400px;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
}

.hl > ul > div> a:visited {color: #202020; }
.hl > ul > div> a:hover{
    color:#235b94 ;}



.r-main{
    display: none;
}



.hl > ul > div:nth-of-type(3){
}

.hl > ul > div:nth-of-type(3) > ul{
    display: block;
    display: flex;
    justify-content: center;
    background-color:magenta;
}

.hl > ul > div:nth-of-type(3) > ul > li{
    margin: 10px;
}



.hl > ul > div:nth-of-type(3) > ul{}


.hl > ul > div:nth-of-type(7){
}


.hl > ul > div:nth-of-type(7) > a::after{
    content: '';
    display: inline-block;
    width: 48px;
    height: 18px;
    background-image: url(./img/main/ico_lnb_close.f131db3.png);
    background-size: cover;
}













.hr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    background-color: magenta;}



.icon > img{}
    
.download{
    display: flex;}

.download > a{
    width: 200px;
    margin: 5px;}
.download > a > img{width: 100%;}
.download > a:nth-child(1){}
.download > a:nth-child(2){} 




















#wrapper{
    width: 100%;
    min-height: calc(100vh - 400px);
    position: relative;
    padding-top: 0px;
}



.scrollbanner{
    background-color: #202020;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed; 
    bottom: 5%;
    right: 5%; 
    padding: 3px;

    
}
.scrollbanner > p {
    color: #fff;
    font-size: 11px;
    letter-spacing: 2px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif
}

.scrollbanner > p::before{
    content: '';
    width: 50px;
    height: 20px;
    display: block;
    background-image: url(./img/main/download1.png);
    background-repeat: no-repeat;
    background-position: 17px;
}




.footer {
    background-color:black;
    width: 100vw;
    height: 300px;
    text-align: center;
    position: absolute;
    display: block;
}

.footer > div:nth-child(1){
    padding-top:50px;
}
.footer> div> a {
    color: grey;
    justify-content: center; 
    text-align: center;
}
.footer > div > a:visited {color:grey; }













