@import url(./common.css);




header{
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 10px 100px;
    padding-top: 30px;
    position: sticky;
    top: -67px;
    z-index: 9999999;
    background-color: white;
}











.logo-n>a {margin-top:10px;
}


.logo-n > a::before{
    content: '';
    width: 168px;
    height: 45px;
    background-image:url(./img/main/netmarble2.png);
    background-position-y: -45px;
    background-repeat: no-repeat;
    display: block;
}



.h{
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.hl{
    display: flex;
    justify-content:space-between;}



.r-trigger-menu{
    width: 30px;
    height: 16px;
    position: relative;
    background: none;
    border: none;
    display: none;
}



.r-trigger-menu > span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:black;
    transition: 0.5s;
}
.r-trigger-menu > span:nth-of-type(1){top:0%; }
.r-trigger-menu > span:nth-of-type(2){top:50%;}
.r-trigger-menu > span:nth-of-type(3){top:100%;}

/* .r-trigger-menu:hover>span:nth-of-type(1){
    top: 50%;
    transform: rotate(45deg);
}
.r-trigger-menu:hover>span:nth-of-type(2){
    top:50%; opacity: 0;
}
.r-trigger-menu:hover>span:nth-of-type(3){
    top: 50%;
    transform: rotate(-45deg);
} */

/* .r-trigger-menu:active>span:nth-of-type(1){
    top: 50%;
    transform: rotate(45deg);
}
.r-trigger-menu:active>span:nth-of-type(2){
    top:50%; opacity: 0;
}
.r-trigger-menu:active>span:nth-of-type(3){
    top: 50%;
    transform: rotate(-45deg);
} */



.hl > ul {
    display: flex;
    justify-content: space-evenly;
    padding-left: 30px;}

.hl > ul > div{
    height: 30px;
    width: 170px;
}

.hl > ul > div> a:hover{
    color:#235b94 ;
}

.hl > ul > div> a{ 
    padding: 5px;
    font-size:20px;
    font-weight: 400px;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
}

.hl > ul > div> a:visited {color: #202020; }
.hl > ul > div> a:hover{
    color:#235b94 ;}



.r-main{
    display: none;
}



.hl > ul > div:nth-of-type(3){
}

.hl > ul > div:nth-of-type(3) > ul{
    /* display: block; */
    display: flex;
    justify-content: center;
    background-color:magenta;
}

.hl > ul > div:nth-of-type(3) > ul > li{
    margin: 10px;
}



.hl > ul > div:nth-of-type(3) > ul{}


.hl > ul > div:nth-of-type(7){
}


.hl > ul > div:nth-of-type(7) > a::after{
    content: '';
    display: inline-block;
    width: 48px;
    height: 18px;
    background-image: url(./img/main/ico_lnb_close.f131db3.png);
    background-size: cover;
}









.hr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    background-color: magenta;}



.icon > img{}
    
.download{
    display: flex;}

.download > a{
    width: 200px;
    margin: 5px;}
.download > a > img{width: 100%;}
.download > a:nth-child(1){}
.download > a:nth-child(2){} 


























.main { 
    
    width: 1920px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.main-image{
    width: 100%;
    position: relative;
}











.main-logo{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    right:2%;


}
.main-logo > li{
background-color:rgba(255, 255, 255, 0.6)
;
margin: 10px;
border-radius: 35px;
height: 60px;
width: 60px;
padding: 13px;
}




.main-logo >  li > a{

    
}
.main-logo >  li > a::before{
    content: '';
    background-image: url(./img/main/download4.png);   
    
    width: 30px;
    height: 30px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;

}

.main-logo > li:nth-of-type(1) > a:before{
    background-position: 3px;
}
.main-logo > li:nth-of-type(2) > a:before{
    background-position: -40px;
}
.main-logo > li:nth-of-type(3) > a:before{
    background-position: -76px;
}













.main> .if{
    

    display: flex;
    align-items:flex-start ;
    justify-content:center;
    background-image:url(./img/main/bg_type2.b740b72.gif);
    padding: 50px 400px 0 400px;

    
    
}


.main> .if > div{
    margin: 20px;
    width: 500px ;
    height: 300px;

}



.main > .if > div:nth-of-type(1)
{position: relative;}


.main> .if > div > h2{
    border-bottom: 1px solid black;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.main> .if > div > a{
font-size: 50px; 
position: absolute;
top: 0;
right: 0;
font-weight: 100;
}

.main > .if > div:nth-of-type(2)
{position: relative;}











.main> .if > div:nth-of-type(1){}


.main> .if > div:nth-of-type(2){}
.main> .if > div:nth-of-type(2) > ul{}
.main> .if > div:nth-of-type(2) > ul > li {
    padding: 30px 0px ;
}

.main> .if > div:nth-of-type(2) > ul > li > a{}
.main> .if > div:nth-of-type(2) > ul > li > a > span{}






.main-story { 
    width: 1920px;
    margin: 0 auto;
    background-image: url(./img/main/img_story1.6d52e29.jpg);
    background-repeat: repeat;
    text-align: center;
    padding: 40px;
    padding-bottom: 60px;

    
    display: none; 

    
}
.main-story > p  {
    font-family: 'EB Garamond', serif;
    color: #949496;
    font-size: 16px;
    letter-spacing: 10px;
    
    margin: 20px 0 ;

}

.main-story > h2{
    margin-bottom: 20px;

}



.main-story > ul{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

}
    

.main-story > ul > li{
    border: 2px solid black;
    display: block;
    width: 150px;
    padding: 10px;
    margin: 10px;
}
.main-story > ul > li:nth-of-type(1){}
.main-story > ul > li:nth-of-type(2){}












.main-servant{
    
  
    padding: 40px 0;
    padding-bottom: 100px;
    background-image: url(./img/main/bg_servant.32b16db.jpg);
    background-size:1400px 1000px;
    background-repeat: no-repeat;
    background-position: center;
}
.main-servant > div{

}




.main-servant > div:nth-of-type(1){
    text-align: center;
    padding: 50px 0 ;

}

.main-servant > div:nth-of-type(1) > p{
    font-family: 'EB Garamond', serif;
    color: #949496;
    font-size: 16px;
    letter-spacing: 10px;
    
}
.main-servant > div> h2{
    margin: 20px 0 20px;
    

}




.ms-img{ 
    display: flex;
    width: 1920px;
    padding: 0 40px;
    height: 480px;




}
.ms-img > div{
    width:15%;
    padding: 1px;
    border: 5px solid white;
    transition: 0.5s;
    overflow: hidden;
    flex-grow: 1;
    position: relative;

}
.ms-img > div:hover{
    
    width: 25%;}

.ms-img > div > div{ 
    transition: 0.5s;
    transform: translateX(-60%); 
    text-align: center;
}


.ms-img > div > div:hover{
    transform: translateX(-30%); 

}


.ms-img > div > p{
    color: white;
    position: absolute;
    top: 10px;
    left: 30px;
    
    transform-origin: top left;
    transform: rotate(90deg);





}


.ms-img > div:nth-of-type(1){
background-image:url(./img/main/bg_servant1.6db48f3.jpg) ;
}

.ms-img > div:nth-of-type(2){
background-image:url(./img/main/bg_servant2.6536ef3.jpg) ;
}

.ms-img > div:nth-of-type(3){
background-image:url(./img/main/bg_servant3.4bcce1a.jpg) ;
}

.ms-img > div:nth-of-type(4){
background-image:url(./img/main/bg_servant4.935a554.jpg) ;
}

.ms-img > div:nth-of-type(5){
background-image:url(./img/main/bg_servant5.82d1a23.jpg) ;
}

.ms-img > div:nth-of-type(6){
background-image:url(./img/main/bg_servant6.778936f.jpg) ;
}

.ms-img > div:nth-of-type(7){
background-image:url(./img/main/bg_servant7.18cd704.jpg) ;
}

.ms-img > div:nth-of-type(8){
background-image:url(./img/main/bg_servant8.dcef502.jpg) ;
}









.main-gallery{

    width: 1400px;
    padding: 100px;
    background-image: url(./img/main/bg_gallery.1581472.jpg);
    margin: 0 auto;
    text-align: center;
}


.main-gallery > h2{
    color: white;
}

.main-gallery > iframe{
    margin: 30px;
}

.main-gallery > p{
    font-family:'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    margin-bottom:50px ;
    letter-spacing: 2px;
}

.main-gallery > a{
    border: 1px solid white;
    color: white;
    width: 150px;
    padding: 10px;
    display: inline-block;
}











.main-community{

    padding:70px ;

}
.main-community > h2 {
    text-align: center;
    justify-content: center;
}
.community-icon{
    display: flex;
    justify-content: center;
}

.community-icon > a::before{
    content: '';
    width: 91px;
    height: 90px;
    display: block;
    background-image: url(./img/main/ico_sns.1b9fbde.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
    
}




.community-icon > a:nth-child(2)::before{
    background-position: -100px;
    
    
}
.community-icon > a:nth-child(3):before{
    background-position: -196px;
}


.community-icon > a{margin: 50px;}










.scrollbanner{

    background-color: #202020;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed; 
    bottom: 5%;
    right: 5%; 
    padding: 3px;

    
}
.scrollbanner > p {
    color: #fff;
    font-size: 11px;
    letter-spacing: 2px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif
}

.scrollbanner > p::before{
    content: '';
    width: 50px;
    height: 20px;
    display: block;
    background-image: url(./img/main/download1.png);
    background-repeat: no-repeat;
    background-position: 17px;
}













.footer {

    background-color:black;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.footer > div:nth-child(1){
    padding-top:50px;
}
.footer> div> a {
    color: grey;
    justify-content: center; 
    text-align: center;
}
.footer > div > a:visited {color:grey; }























@media(max-width:480px){



    header{
        width: 100vw;
        margin: 0 auto;
        padding: 0px 0px 0px 0px;
        padding-top: 0px;
        position: fixed; 
        top: 0px;
        z-index: 9999999;
        background-color:#2f335b;
        padding: 10px ;
    }
    
    
    .logo-n>a {/* margin-top:0px; */ display:none;
    }
    
    .logo-n > a::before{
/*         content: '';
        width: 168px;
        height: 45px;
        background-image:url(./img/main/netmarble2.png);
        background-position-y: -45px;
        background-repeat: no-repeat;
        display: block; */
        display:none;
    }
    
    .h{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    
    .hl{width: 60%;
        height: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center; 
        }
    
    



    .r-trigger-menu{
        width: 30px;
        height: 15px;
        position: relative;
        background: none;
        border: none;
        display: block;
    }
    
    
    .r-trigger-menu > span{
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color:white;
        transition: 0.5s;
        display: block;
    }

    .r-trigger-menu > span:nth-of-type(1){top:0%; transform: rotate(0);}
    .r-trigger-menu > span:nth-of-type(2){top:50%;transform: rotate(0);}
    .r-trigger-menu > span:nth-of-type(3){top:100%;transform: rotate(0);}


    .r-trigger-menu:hover>span:nth-of-type(1){
        top: 50%; transform: rotate(45deg);
    }
    .r-trigger-menu:hover>span:nth-of-type(2){
        top:50%; opacity: 0;
    }
    .r-trigger-menu:hover>span:nth-of-type(3){
        top: 50%; transform: rotate(-45deg);}
    
    .r-trigger-menu:active>span:nth-of-type(1){
        top: 50%; transform: rotate(45deg);
    }
    .r-trigger-menu:active>span:nth-of-type(2){
        top:50%; opacity: 0;
    }
    .r-trigger-menu:active>span:nth-of-type(3){
        top: 50%; transform: rotate(-45deg);
    }
    





    .hl > .hl-f-logo{height: 40px;}
    .hl > .hl-f-logo > picture{height: 100%;}
    .hl > .hl-f-logo > picture > img { height: 100%;}
    .hl > .hl-f-logo > picture > source { height: 100%;}







    .hl > ul {
        position: fixed;
        left: 0; top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50%;
        background: url(./img/main/bg_type2.b740b72.gif);
        width: 100%;
        height : 100px;
        transform: translateY(-120%); 
        transition: 1s;
        z-index: -999;
        /* display: none; */
    }

    .hl > ul.active {transform: translateY(0%);}
    
    

    .hl > ul > div{
        width: 100%;
        height: 1%;
        padding: 3% 0 3% 6%;
    }
    
    .hl > ul > div> a:hover{
        color:#235b94 ;
    }
    
    .hl > ul > div> a{ 
        padding: 0px;
        font-size:1.5rem;
        font-weight: none;
        line-height: 1;
        text-decoration: none;
        text-align: center;
    }
    
    .hl > ul > div> a:visited {color: #202020; }
    .hl > ul > div> a:hover{
        color:#235b94 ;}
    
    

    .r-main{
        display: none;
    }
    
    
    .hl > ul > div:nth-of-type(3){
    }
    
    .hl > ul > div:nth-of-type(3) > ul{
        display: block;
        display: none;
        justify-content: center;
        background-color:magenta;
    }
    
    .hl > ul > div:nth-of-type(3) > ul > li{
        margin: 0;
    }
    
    
    .hl > ul > div:nth-of-type(3) > ul{}
    
    .hl > ul > div:nth-of-type(7){}
    
    
    .hl > ul > div:nth-of-type(7) > a::after{
        content: '';
        display: inline-block;
        width: 48px;
        height: 18px;
        background-image: url(./img/main/ico_lnb_close.f131db3.png);
        background-size: cover;
    }
    
    


    
/* 
======================================================
hl 끝!!! hr 시작 
======================================================
*/

    
    
    
    .hr{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .icon{
        background-color: white;}
    
    
    .icon > img{}
        
    .download{
        display: flex;
        display:none;}
                
                .download > a{
                    width: 200px;
                    margin: 5px;}
                .download > a > img{width: 100%;}
                .download > a:nth-child(1){}
                .download > a:nth-child(2){} 
                
    
    



/* 
======================================================
header 끝!!! 메인 시작 
======================================================
*/



    

.main { 
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 0;
    
}









.main-image{
    width: 100vw;
    height: 100vh;
    

    /* position: relative; */

}
.main-image > picture {
    max-width: 100vw;
    height: 100vh;
}
.main-image > div > picture > img {
    max-width:100%;
}









.main-logo{
    /* display: flex; */
    display: none;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
            }
            .main-logo > li{
            background-color:rgba(255, 255, 255, 0.6)
            ;
            margin: 10px;
            border-radius: 35px;
            height: 60px;
            width: 60px;
            padding: 13px;
            }

            .main-logo >  li > a{
            }
            .main-logo >  li > a::before{
                content: '';
                background-image: url(./img/main/download4.png);   
                
                width: 30px;
                height: 30px;
                display: block;
                background-position: center;
                background-repeat: no-repeat;
            }

            .main-logo > li:nth-of-type(1) > a:before{
                background-position: 3px;
            }
            .main-logo > li:nth-of-type(2) > a:before{
                background-position: -40px;
            }
            .main-logo > li:nth-of-type(3) > a:before{
                background-position: -76px;
            }







.main> .if{
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* align-items:flex-start ; */
    /* justify-content:center; */
    background-image:none;
    background-color: white;
    padding: 0px 0px 0 0px;

}


.main> .if > div{
    margin: 0px;
    width: 80vw ;
}



.main > .if > div:nth-of-type(1){position: relative;}


.main> .if > div > h2{
    border-bottom: none;
    font-size: 1.5rem;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.main> .if > div > a{
display: none;
font-size: 1rem; 
position: absolute;
top: 0;
right: 0;
font-weight: 100;
}

.main > .if > div:nth-of-type(2)
{position: relative;}











.main> .if > div:nth-of-type(1)>h2{display: none;}
.main> .if > div:nth-of-type(1) > iframe{
    width: 100%;
}

.main> .if > div:nth-of-type(2){}
.main> .if > div:nth-of-type(2) > ul{
    text-align: start;
}
.main> .if > div:nth-of-type(2) > ul > li {
    padding: 1vh 0px ;
}

.main> .if > div:nth-of-type(2) > ul > li > a{}
.main> .if > div:nth-of-type(2) > ul > li > a > span{
    font-size: 0.8rem;
    
}










    
    
}








































