@import url(./common.css);










.main { 
    
    width: 1920px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.main-image{
    width: 100%;
    position: relative;
}





#twitter-widget-0{
    position: static; 
    visibility: visible; 
    width: 500px; 
    height: 261px; 
    display: block; 
    flex-grow: 1; 
}







.main> .if{
    

    display: flex;
    align-items:flex-start ;
    justify-content:center;
    background-image:url(./img/main/bg_type2.b740b72.gif);
    padding: 50px ;

    
    
}


.main> .if > div{
    margin: 20px;
    width: 500px ;
    height: 300px;

}



.main > .if > div:nth-of-type(1)
{position: relative;}


.main> .if > div > h2{
    border-bottom: 1px solid black;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.main> .if > div > a{
font-size: 50px; 
position: absolute;
top: 0;
right: 0;
font-weight: 100;
}

.main > .if > div:nth-of-type(2)
{position: relative;}











.main> .if > div:nth-of-type(1){}


.main> .if > div:nth-of-type(2){}
.main> .if > div:nth-of-type(2) > ul{}
.main> .if > div:nth-of-type(2) > ul > li {
    padding: 30px 0px 30px 10px;
    border-bottom: 1px grey solid;
}

.main> .if > div:nth-of-type(2) > ul > li > a{}
.main> .if > div:nth-of-type(2) > ul > li > a > span{
    font-size: 27px;
}






.main-story { 
    width: 1920px;
    margin: 0 auto;
    background-image: url(./img/main/img_story1.6d52e29.jpg);
    background-repeat: repeat;
    text-align: center;
    padding: 40px;
    padding-bottom: 60px;
    
}
.main-story > p  {
    font-family: 'EB Garamond', serif;
    color: #949496;
    font-size: 16px;
    letter-spacing: 10px;
    
    margin: 20px 0 ;

}

.main-story > h2{
    margin-bottom: 20px;

}



.main-story > ul{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

}
    

.main-story > ul > li{
    border: 2px solid black;
    display: block;
    width: 150px;
    padding: 10px;
    margin: 10px;
}
.main-story > ul > li:nth-of-type(1){}
.main-story > ul > li:nth-of-type(2){}











.main-servant{
    
    padding: 40px 0;
    padding-bottom: 100px;
    background-image: url(./img/main/bg_servant.32b16db.jpg);
    background-size:1400px 1000px;
    background-repeat: no-repeat;
    background-position: center;

}
.main-servant > div{

}




.main-servant > div:nth-of-type(1){
    text-align: center;
    padding: 50px 0 ;

}

.main-servant > div:nth-of-type(1) > p{
    font-family: 'EB Garamond', serif;
    color: #949496;
    font-size: 16px;
    letter-spacing: 10px;
    
}
.main-servant > div> h2{
    margin: 20px 0 20px;
    

}




.ms-img{ 
    display: flex;
    width: 1920px;
    padding: 0 40px;
    height: 480px;




}
.ms-img > div{
    width:15%;
    padding: 1px;
    border: 5px solid white;
    transition: 0.5s;
    overflow: hidden;
    flex-grow: 1;
    position: relative;

}
.ms-img > div:hover{
    
    width: 25%;}

.ms-img > div > div{ 
    transition: 0.5s;
    transform: translateX(-60%); 
    text-align: center;
}


.ms-img > div > div:hover{
    transform: translateX(-30%); 

}


.ms-img > div > p{
    color: white;
    position: absolute;
    top: 10px;
    left: 30px;
    
    transform-origin: top left;
    transform: rotate(90deg);





}


.ms-img > div:nth-of-type(1){
background-image:url(./img/main/bg_servant1.6db48f3.jpg) ;
}

.ms-img > div:nth-of-type(2){
background-image:url(./img/main/bg_servant2.6536ef3.jpg) ;
}

.ms-img > div:nth-of-type(3){
background-image:url(./img/main/bg_servant3.4bcce1a.jpg) ;
}

.ms-img > div:nth-of-type(4){
background-image:url(./img/main/bg_servant4.935a554.jpg) ;
}

.ms-img > div:nth-of-type(5){
background-image:url(./img/main/bg_servant5.82d1a23.jpg) ;
}

.ms-img > div:nth-of-type(6){
background-image:url(./img/main/bg_servant6.778936f.jpg) ;
}

.ms-img > div:nth-of-type(7){
background-image:url(./img/main/bg_servant7.18cd704.jpg) ;
}

.ms-img > div:nth-of-type(8){
background-image:url(./img/main/bg_servant8.dcef502.jpg) ;
}









.main-gallery{

    width: 1400px;
    padding: 100px;
    background-image: url(./img/main/bg_gallery.1581472.jpg);
    margin: 0 auto;
    text-align: center;
    
}


.main-gallery > h2{
    color: white;
}

.main-gallery > iframe{
    margin: 30px;
}

.main-gallery > p{
    font-family:'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    margin-bottom:50px ;
    letter-spacing: 2px;
}

.main-gallery > a{
    border: 1px solid white;
    color: white;
    width: 150px;
    padding: 10px;
    display: inline-block;
}











.main-community{

    padding:70px ;


}
.main-community > h2 {
    text-align: center;
    justify-content: center;
}
.community-icon{
    display: flex;
    justify-content: center;
}

.community-icon > a::before{
    content: '';
    width: 91px;
    height: 90px;
    display: block;
    background-image: url(./img/main/ico_sns.1b9fbde.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
    
}




.community-icon > a:nth-child(2)::before{
    background-position: -100px;
    
    
}
.community-icon > a:nth-child(3):before{
    background-position: -196px;
}


.community-icon > a{margin: 50px;}



















/* 
======================================================================
======================================================================
==================swiper 이용한 메인 슬라이드 작업======================
====================================================================== 
======================================================================
*/
/* css.js only for swiper */

    html:root {
        --swiper-theme-color:white;}

    .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: rgba(0, 0, 0, 0.2);

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper {
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color rgba(0, 0, 0, 0.2));
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
  border-radius: 100%;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color,var(--swiper-theme-color));}


.swiper-button-next, .swiper-button-prev{display: none;}





.main-image{
    position: relative;
}





.main-logo{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    right:2%;
    z-index: 9999;


}
.main-logo > li{
background-color:rgba(255, 255, 255, 0.6)
;
margin: 10px;
border-radius: 35px;
height: 60px;
width: 60px;
padding: 13px;
}




.main-logo >  li > a{

    
}
.main-logo >  li > a::before{
    content: '';
    background-image: url(./img/main/download4.png);   
    
    width: 30px;
    height: 30px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;

}

.main-logo > li:nth-of-type(1) > a:before{
    background-position: 3px;
}
.main-logo > li:nth-of-type(2) > a:before{
    background-position: -40px;
}
.main-logo > li:nth-of-type(3) > a:before{
    background-position: -76px;
}





































@media(max-width:480px){



    

.main { 
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 0;
    padding-top: 40px;
    
}









.main-image{
    width: 100vw;
    
    

    /* position: relative; */

}
.main-image > picture {
    max-width: 100vw;
    height: 100vh;
}
.main-image > div > picture > img {
    max-width:100%;
}













.main> .if{
    
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* align-items:flex-start ; */
    /* justify-content:center; */
    background-image:none;
    background-color: white;
    margin: 10px 0px px 0px;
    
}


.main> .if > div{
    margin: 0px;
    width: 90vw ;
    height: auto;
}



.main > .if > div:nth-of-type(1){position: relative; overflow:scroll;}


#twitter-widget-0{
    width: 100%;
    height: 100%;
    
}




.main> .if > div > h2{
    border-bottom: none;
    font-size: 1.5rem;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.main> .if > div > a{
display: none;
font-size: 1rem; 
position: absolute;
top: 0;
right: 0;
font-weight: 100;
}

.main > .if > div:nth-of-type(2)
{position: relative;}











.main> .if > div:nth-of-type(1)>h2{display: none;}
.main> .if > div:nth-of-type(1) > iframe{
    width: 100%;
}

.main> .if > div:nth-of-type(2){ border: 1px dotted gray; padding: 10px;}
.main> .if > div:nth-of-type(2) > ul{
    text-align: start;
}
.main> .if > div:nth-of-type(2) > ul > li {
    padding: 1vh 0px ;
}

.main> .if > div:nth-of-type(2) > ul > li > a{}
.main> .if > div:nth-of-type(2) > ul > li > a > span{
    font-size: 0.9rem;
    
}









/* 메인스토리!! */



.main-story { 
    width: 100vw;
    margin: 0 auto;
    background-image: url(./img/main/img_story1.6d52e29.jpg);
    background-repeat: repeat;
    text-align: center;
    padding: 1px;
    padding-top: 7vh;
    padding-bottom: 5vh;



    
}
.main-story > p  {
    font-family: 'EB Garamond', serif;
    color: #949496;
    font-size: 1rem;
    letter-spacing: 10px;
    
    margin: 2vw 0 ;

}

.main-story > h2{
    font-size: 2rem;
    margin: 0 auto;
    margin-bottom:1vh;
    text-align: center;
    

}



.main-story > ul{
    width: 70vw;
    margin: 0 auto;
    display: flex;flex-wrap: wrap;
/*     
    align-items: center;
    justify-content: center;
     */

}
    

.main-story > ul > li{
    border: 1px solid gray;
    display: block;
    width: 60vw;
    padding: 0, 0 ;
    margin: 0, 0 ;
}
.main-story > ul > li:nth-of-type(1){}
.main-story > ul > li:nth-of-type(2){}






/* 스토리 끝! 서번트 시작 */



.main-servant{
    
    width: 100vw;
    padding: 40px 0;
    padding-bottom: 100px;
    background-image: url(./img/main/bg_servant.32b16db.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}
.main-servant > div{

}




.main-servant > div:nth-of-type(1){
    text-align: center;
    padding: 50px 0 ;
    width: 100vw;

}

.main-servant > div:nth-of-type(1) > p{
    font-family: 'EB Garamond', serif;
    color: #949496;
    font-size: 1rem;
    letter-spacing: 10px;
    
}
.main-servant > div> h2{
    margin: 20px 0 20px;
    font-size: 2rem;
    

}





.ms-img{ 
    border: none;
    display: flex;
    /* flex-wrap: nowrap; */
    width: 100vw;
    padding: 0px;
    height: 400px;
    overflow-x:scroll;
    /* overflow: hidden; */




}
.ms-img > div{
    width:50vw;
    height: 100%;
    margin: 1px;
    border: none;
    transition: 0.5s;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    flex-shrink: 0;
    

}
.ms-img > div:hover{width: 60%;}

.ms-img > div > div{ 
    height: 100%;
    transition: none;
    transform: translateX(0); 
    text-align: center;
}


.ms-img > div > div:hover{
    transform: translateX(0); 

}

.ms-img > div > div > a > img{ 
    height: 100%;
    transform: translateX(-25%);
    
}


.ms-img > div > p{
    color: white;
    position: absolute;
    font-size: 1.5rem;
    top: 15px;
    left: 15px;
    
    transform-origin: top left;
    transform: rotate(0deg);





}


.ms-img > div:nth-of-type(1){
background-image:url(./img/main/bg_servant1.6db48f3.jpg) ;
}

.ms-img > div:nth-of-type(2){
background-image:url(./img/main/bg_servant2.6536ef3.jpg) ;
}

.ms-img > div:nth-of-type(3){
background-image:url(./img/main/bg_servant3.4bcce1a.jpg) ;
}

.ms-img > div:nth-of-type(4){
background-image:url(./img/main/bg_servant4.935a554.jpg) ;
}

.ms-img > div:nth-of-type(5){
background-image:url(./img/main/bg_servant5.82d1a23.jpg) ;
}

.ms-img > div:nth-of-type(6){
background-image:url(./img/main/bg_servant6.778936f.jpg) ;
}

.ms-img > div:nth-of-type(7){
background-image:url(./img/main/bg_servant7.18cd704.jpg) ;
}

.ms-img > div:nth-of-type(8){
background-image:url(./img/main/bg_servant8.dcef502.jpg) ;
}









/* 서번트 끝!! 갤러리 넣기 */

.main-gallery{

    width: 100vw;
    padding: 0px;
    background-image:none;
    margin: 0 auto;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
}


.main-gallery > h2{
    color: #2f335b;
    font-size: 2rem;
    margin-bottom: 5vh;
}

.main-gallery > iframe{
    margin: 1px;
    width: 100vw;
    height: 50vw;
}

.main-gallery > p{
    font-family:'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    color: #2f335b;
    margin-bottom:50px ;
    letter-spacing: 2px;
}

.main-gallery > a{
    border: 1px solid black;
    color:white;
    width: 150px;
    padding: 10px;
    display: inline-block;
    background-color: #2f335b;
}







/* 갤러리 끝!  커뮤니티 아이콘 시작! */




.main-community{
    width: 100vw;
    padding:10px 0 10px 0 ;
    align-items: center;


}
.main-community > h2 {
    text-align: center;
    font-size:2rem;
    justify-content: center;
}
.community-icon{
    display: flex;
    justify-content: center;
}

.community-icon > a::before{
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    background-image: url(./img/main/ico_sns.3ea9c37.png);
    background-size: cover;
    background-repeat:no-repeat;
    margin-bottom: 0px;
    margin: 10px;
    
}


.community-icon > a:nth-child(1)::before{
    background-position: 4px;
}

.community-icon > a:nth-child(2)::before{
    background-position: -95px;
    
    
}
.community-icon > a:nth-child(3):before{
    background-position: -175px;
}


.community-icon > a{margin: 10px;}




















/* 푸터시작!!!!! */



body{width: 100%; margin:0;}


#wrapper{
    width: 100%;
    position: relative; 
    
}

.main{height: auto; margin-bottom: 20px;}









/*  
========================================================
========================================================
======================반응형스와이퍼=====================
======================================================== 
========================================================
*/


/* css.js only for swiper */

html:root {
    --swiper-theme-color:white;}

.swiper {
    /* display: none; opacity: 0; */
    overflow: hidden;

    width: 100%;
    height: 100%;}

.swiper-slide {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.2);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-pagination-bullet {
background: var(--swiper-pagination-bullet-inactive-color rgba(0, 0, 0, 0.2));
opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
border-radius: 100%;
}
.swiper-pagination-bullet-active {
opacity: var(--swiper-pagination-bullet-opacity, 1);
background: var(--swiper-pagination-color,var(--swiper-theme-color));}


.swiper-button-next, .swiper-button-prev{display: none;
opacity: 0;}







/* 
===================================================================
===================================================================
============================반응형에 링크 붙이기=====================
===================================================================
====================================================================
*/



.main-image{
    position: static
}





.main-logo{
    display: flex;
    justify-content: center;
    position: static;
    z-index: 0;
    margin-top: 10px;


}
.main-logo > li{
background-color: #eee;
/* border: #2f335b 1px solid; */ 
margin: 10px;
border-radius: 35px;
height: 50px;
width: 50px;
padding: 8px;
}



.main-logo > li:nth-child(1){
    background-color: #2DB400;
}
.main-logo > li:nth-child(2){
    background-color: #3b5998;
}
.main-logo > li:nth-child(3){
    background-color: #00acee;
}




.main-logo >  li > a{
}
.main-logo >  li > a::before{
    content: '';
    background-image: url(./img/main/download4.png);   
    filter: invert(100%);
    width: 30px;
    height: 30px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;

}

.main-logo > li:nth-of-type(1) > a:before{
    background-position: 3px;
}
.main-logo > li:nth-of-type(2) > a:before{
    background-position: -39px;
}
.main-logo > li:nth-of-type(3) > a:before{
    background-position: -76px;
}


















}

